.select {
        padding: 5px 15px;
        font-size: 14px;
        color: coral;
        background-color: transparent;
        border: 1px solid chocolate;
        cursor: text;
        border-radius: 5px;
        margin: 5px 0;
        width: 100%;
}