* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.App {
    width: 500px;
}

.post {
    border: 1px solid coral;
    padding: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

hr {
    margin: 10px 0;
}

.post-enter {
    opacity: 0;
}

.post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.pages__wrapper {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.pages {
    padding: 5px 15px;
    color: coral;
    background-color: transparent;
    border: 1px solid chocolate;
    cursor: pointer;
    border-radius: 5px;
}

.page__current {
    border: 2px solid chocolate;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100vh;
    padding: 0 15px;
    display: flex;
    align-items: center;
    background-color: #ff7f50;
    margin-bottom: 5px;
    border-radius: 5px;
}

.navbar__links {
    margin: auto;
}