.btn {
    font-size: 14px;
    padding: 5px 15px;
    color: coral;
    background-color: transparent;
    border: 1px solid chocolate;
    cursor: pointer;
    border-radius: 5px;
    min-width: 100px;
}