.navbar {
    height: 50px;
    width: 100vh;
    padding: 0 15px;
    display: flex;
    align-items: center;
    background-color: #ff7f50;
    margin-bottom: 5px;
    border-radius: 5px;
}

.navbar__links {
    margin: auto;
    color: #930101;
    border: 1px solid #930101;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
    text-decoration: none;
}

.exit__btn {
    border: 1px solid #930101;
    border-radius: 5px;
    background-color: transparent;
    color:#930101;
    padding: 11px;
}